img{
 width:200px;
 height: 200px; 
 border: 1px solid rgb(41, 190, 183);  
}

.title{
    text-align: center;
    color:white;
    margin-bottom: 10px;
    padding: 15px;
}

.line{
    width: 200px;
    height: 3px;
    margin: 10px auto;
    border-radius: 5px;
    background:rgb(31, 218, 208);
}

.row-line{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between;   
}

.row-line .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    padding-bottom: 1em;
}

.link-button{
    background-color: rgb(31, 218, 208) !important;
    border-radius: 20px !important;
}
.event{
    margin-top: 10px;
    margin-bottom:10px;
}


