.card-img-top{
    border-radius: 25%;
    height: 200px;
    
  }

.card-group{
  width: 300px !important;
}

.card{
  background-color: rgba(255, 255, 255, 0.685) !important;
  border-radius: 5% !important;
}